.early-access {
  /* border: 1px solid red; */

  font-family: var(--font-primary);
  width: min(100% - 3rem, 53rem);
  padding: 2rem;

  background-color: var(--primary-dark-blue-testimonials);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 3px 3px 10px #111;
}

.early-access h2 {
  font-size: 2rem;
}

.early-access p {
  text-align: center;
}

.early-access form {
  display: flex;
  gap: 2rem;

  width: 100%;
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLES Y CELULARES */
  .early-access form  {
    flex-direction: column;
  }
}

.early-access input[type=text] {
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 2rem;
  width: min(100%, 30rem);
}

.early-access input[type=submit] {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 120px;
  color: var(--neutral-white);
  background:
    linear-gradient(
      90deg,
      var(--accent-cyan) 0%,
      var(--accent-blue) 35%
    )
  ;
}

.early-access input[type=submit]:hover {
  background: linear-gradient(
    90deg,
    var(--accent-cyan) 35%,
    var(--accent-blue) 100%
  );
  /* background-color: var(--accent-cyan); */
  cursor: pointer;
}