.features {
  display: grid;
  grid-template-columns: 340px 340px;
  justify-content: center;
  gap: 5rem;
  background-color: var(--primary-dark-blue-main);
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLES Y CELULARES */
  .features {
    grid-template-columns: 340px;
  }
}

.feature {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature__title {
  /* border: 1px solid red; */
  font-family: var(--font-primary);
  /* margin-top: 1.3rem; */
}

.feature__text {
  /* border: 1px solid green; */
  font-family: var(--font-secondary);
  text-align: center;
  /* margin-top: 1rem; */
}
