@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/*
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
*/

:root {
  /* FONTS */
  --color: yellow;
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-size: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* COLORS */

  --primary-dark-blue-intro: hsl(217, 28%, 15%);
  --primary-dark-blue-main: hsl(218, 28%, 13%);
  --primary-dark-blue-footer: hsl(216, 53%, 9%);
  --primary-dark-blue-testimonials: hsl(219, 30%, 18%);

  --accent-cyan: hsl(176, 68%, 64%);
  --accent-blue: hsl(198, 60%, 50%);
  --accent-light-red: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);
}

/* RESETs */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--primary-dark-blue-intro);
  color: var(--neutral-white);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  /* TODO: RWD para imágenes */
}

.wrapper {
  width: 1440px;
  /* TODO: Adaptar el ancho de la página a dispositivos móviles */
}

.header {
  border: 1px solid red;

  font-family: var(--font-primary);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}