@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/*
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
*/

:root {
  /* FONTS */
  --color: yellow;
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-size: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* COLORS */

  --primary-dark-blue-intro: hsl(217, 28%, 15%);
  --primary-dark-blue-main: hsl(218, 28%, 13%);
  --primary-dark-blue-footer: hsl(216, 53%, 9%);
  --primary-dark-blue-testimonials: hsl(219, 30%, 18%);

  --accent-cyan: hsl(176, 68%, 64%);
  --accent-blue: hsl(198, 60%, 50%);
  --accent-light-red: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);
}

/* RESETs */

* {
  box-sizing: border-box;
  margin: 0;

  /* border: 1px solid red; */
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--primary-dark-blue-intro);
  color: var(--neutral-white);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  /* color: red; */
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}

img {
  /* TODO: RWD para imágenes */
  max-width: 100%;
  height: auto;
}

.wrapper {
  /* width: 1440px; */
  /* TODO: Adaptar el ancho de la página a dispositivos móviles */
  width: min(100% - 3rem, 1440px);
}

.header {
  /* border: 1px solid red; */

  font-family: var(--font-primary);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  margin-top: 3rem;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}

.header__nav {
  /* border: 1px solid yellow; */

  list-style: none;
  padding: 10px;
  margin: 10px;

  display: flex;
  gap: 3rem; /* 1rem = 14px (html) */
}

.hero {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding-top: 3rem;
  padding-bottom: 12rem;

  background-image: url(../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.hero__title {
  /* width: 720px; */
  width: min(100% - 3rem, 720px);

  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem;

  text-align: center;
}

.hero__text {
  /* width: 720px; */
  width: min(100% - 3rem, 720px);

  font-family: var(--font-secondary);
  font-size: 1.2rem;
  padding: 0 7rem;

  text-align: center;
}

/*
576px -> pantallas pequeñas (celulares)
768px -> pantallas pequeñas (tablets y celulares)
992px -> pantallas medianas (Desktop)
1200px -> pantallas grandes (Desktops, TVs)
*/

@media (max-width: 768px) {
  .hero__text {
    padding: 0;
  }
}

.hero__button {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 220px;
  color: var(--neutral-white);
  background:
    linear-gradient(
      90deg,
      var(--accent-cyan) 0%,
      var(--accent-blue) 35%
    )
  ;
  transition: all 1s ease;
}

.hero__button:hover {
  background: linear-gradient(
    90deg,
    var(--accent-cyan) 35%,
    var(--accent-blue) 100%
  );
  /* background-color: var(--accent-cyan); */
  cursor: pointer;
}

.features {
  display: grid;
  grid-template-columns: 340px 340px;
  justify-content: center;
  gap: 5rem;
  background-color: var(--primary-dark-blue-main);
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLES Y CELULARES */
  .features {
    grid-template-columns: 340px;
  }
}

.feature {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature__title {
  /* border: 1px solid red; */
  font-family: var(--font-primary);
  /* margin-top: 1.3rem; */
}

.feature__text {
  /* border: 1px solid green; */
  font-family: var(--font-secondary);
  text-align: center;
  /* margin-top: 1rem; */
}

.collaboration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  background-color: var(--primary-dark-blue-main);

  padding-top: 8rem;
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLES Y CELULARES */
  .collaboration {
    flex-direction: column;
  }
}

.how_works {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(100% - 3rem, 30rem);
}

.how_works__title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem;
}

.how_works__text {
  font-family: var(--font-secondary);
}

.how_works__button {
  font-family: var(--font-secondary);
  color: var(--accent-cyan);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-bottom: 1px solid var(--accent-cyan);
  /* margin-right: auto; */
  width: 10.8rem;
  padding-bottom: 0.5rem; /* 0.5rem = 7px */
}

.how_works__button:hover {
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  color: var(--neutral-white);
  border-bottom: 1px solid var(--neutral-white);
}

.how_works__button:hover svg circle {
  fill: white;
}

.testimonials {
  background-color: var(--primary-dark-blue-main);

  display: flex;
  justify-content: center;
  gap: 2rem;

  padding-top: 8rem;
  padding-bottom: 18rem;
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLES Y CELULARES */
  .testimonials {
    flex-direction: column;
  }
}

.testimonial {
  background-color: var(--primary-dark-blue-testimonials);

  padding: 2rem 1.5rem 1.5rem 1.5rem;

  font-family: var(--font-primary);

  border-radius: 0.5rem;

  border: 7px solid rgba(222, 222, 222, 0.1);
}

.testimonial__text {
  margin-bottom: 2rem;
  line-height: 1.5;
  width: min(100% - 3rem, 21rem);
}

.testimonial__profile {
  display: flex;
  gap: .5rem;

  font-size: .8rem;
}

.testimonial__profile img {
  border-radius: 50px;
}

.testimonial__profile h4 {
  font-weight: var(--font-weight-bold);
}

.testimonial__profile h5 {
  font-weight: var(--font-weight-regular);
}

.early-access {
  /* border: 1px solid red; */

  font-family: var(--font-primary);
  width: min(100% - 3rem, 53rem);
  padding: 2rem;

  background-color: var(--primary-dark-blue-testimonials);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 3px 3px 10px #111;
}

.early-access h2 {
  font-size: 2rem;
}

.early-access p {
  text-align: center;
}

.early-access form {
  display: flex;
  gap: 2rem;

  width: 100%;
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLES Y CELULARES */
  .early-access form  {
    flex-direction: column;
  }
}

.early-access input[type=text] {
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 2rem;
  width: min(100%, 30rem);
}

.early-access input[type=submit] {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 120px;
  color: var(--neutral-white);
  background:
    linear-gradient(
      90deg,
      var(--accent-cyan) 0%,
      var(--accent-blue) 35%
    )
  ;
}

.early-access input[type=submit]:hover {
  background: linear-gradient(
    90deg,
    var(--accent-cyan) 35%,
    var(--accent-blue) 100%
  );
  /* background-color: var(--accent-cyan); */
  cursor: pointer;
}

.footer {
  font-family: var(--font-primary);
  background-color: var(--primary-dark-blue-footer);
  padding: 15rem 0 5rem 0;

  position: relative;
}

.footer--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 auto;

  width: min(100% - 3rem, 76rem);
}

.footer-info {
  display: flex;
  gap: 4rem;

  width: 100%;
  justify-content: space-between;
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLES Y CELULARES */
  .footer-info {
    flex-direction: column;
  }
}

.footer-info__description {
  width: 22rem;

  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.footer-info__contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-info__contact span {
 display: flex;
 gap: 1rem;
}

.footer-info__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
