.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem; // 40px
  padding: 4rem; // 64px

  &__gretting {
    color: $primary-color-white;
    font-size: 2rem;
    font-weight: $font-weight-bold;
    text-transform: capitalize;

    & span {
      color: #FFB742;
      text-decoration-line: underline;
    }
  }

  &__title {
    color: $primary-color-white;
    font-size: 3rem;
    font-weight: $font-weight-bold;
    text-transform: capitalize;
  }

  &__description {
    color: $primary-color-white;
    font-size: 1.5rem;
    font-weight: $font-weight-regular;
  }
}